*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.panel {
    position: absolute;
    font-family:  'Space Mono';
    z-index: 1;
    max-width: 500px;
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 6px;
}

.panel h1 {
    color: #fff;
    font-size: 2.6rem;
    margin-bottom: 6px;
}

.panel h2, .panel h3 {
    color: #fff;
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 6px;
}

@media (max-width: 768px) {
    .panel {
        margin-left: 22px;
    }
    .panel h1 {
        font-size: 1.8rem;
    }

    .panel h2, .panel h3 {
        font-size: 0.9rem;
    }
}

.random-btn {
    width: 46px;
    height: 46px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 50%;
    margin-top: 10px;
}
.random-btn:hover {
    cursor: pointer;
}
.random-btn > svg {
    width: 32px;
    height: 32px;
}